.proj-ul
  list-style-type: none
  text-align: left

.proj-ul li
  margin: 10px

.proj-ul li:before
   content: ''
   display: inline-block
   height: 35px
   width: 30px
   background-image: url(".././images/hexagon.png")
   margin: 0px
   transform: translate(-40px,20px)

#proj-first
  background: url(".././images/plant1.jpg")
  width: 100%
  height: 40vh
  background-position: center
  background-repeat: no-repeat
  background-size: cover
  background-attachment:local
  color: white
  vertical-align: middle
  text-align: center
  display: inline-block
  position: relative
  overflow: hidden
  text-shadow: 2px 2px 20px $secondary

#proj-fourth
  width: 100%
  height: 75vh
  background-repeat: no-repeat
  background-size: contain
  display: inline-block
  position: relative
  font-size: 20px
  color: white
  position: relative
  overflow: hidden
  padding: 0px
  float: left

.proj-back-color1
  background: url(".././images/100_4808_blue.JPG") fixed

.proj-back-color2
  background: url(".././images/RT2_white2.jpg") fixed
  color: $secondary

.proj-back-color3
  background: url(".././images/AN85-1_blue.jpg") fixed

.proj-img
  height: 200px
  width: auto
  margin: 10px 0px 10px 40px
  border: thick solid white
  opacity: .8
  transition: .8s

.proj-img:hover
  height: 210px
  opacity: 1

.proj-4-pic
  width: 100%
  display: inline-block
  position: relative
