.serv-subject
  // width: 25%
  width: 220px
  height: 80%
  padding: 0px 30px
  border: solid gray thin
  float: left
  top: 50%
  transform: translateY(-50%)
  // margin: 20px
  background-color: white
  border-radius: 6px
  position: absolute

.serv-full
  width: 100%
  height: 230px
  transform: translate()
  position: relative

.serv-middle
  left: 50%
  top: 100%
  transform: translate(-50%,-50%)

.serv-nitric
  height: 100vh
  width: auto
  position: fixed
  top: 0px
  left: 0px
  z-index: -1
  opacity: .2
  transform: rotate(10deg)


#serv-first h3
  font-family: 'Raleway', sans-serif

#serv-first
  background: url(".././images/plant1.jpg")
  width: 100%
  height: 40vh
  background-position: center
  background-repeat: no-repeat
  background-size: cover
  background-attachment:local
  color: white
  vertical-align: middle
  text-align: center
  display: inline-block
  position: relative
  overflow: hidden
  text-shadow: 2px 2px 20px $secondary

#serv-second
  width: 100%
  height: 100vh
  background-color: #ddd
  display: inline-block
  margin: 0px
  position: relative
  color: $secondary
  z-index: -2

.serv-second-image
  width: 70%
  height: 70%
  background: url(".././images/nitric.png")
  background-position: center
  background-repeat: no-repeat
  background-size: cover
  opacity: .2

#serv-third
  // background: url(".././images/atom2.png")
  background-color: lighten($secondary, 55%)
  background-size: 100%
  width: 100%
  height: 80vh
  color: $primary
  font-size: 20px

.serv-half
  // width: 50%
  height: 100%
  float: left
  position: relative
  // overflow: hidden

.serv-left-half
  width: 35%
  // background-attachment: local
  background-position: left top
  background-repeat: no-repeat
  background-size: auto

.serv-right-half
  width: 65%
  height: 100%

#serv-fourth
  width: 100%
  height: 100vh
  background-color: lighten($secondary, 20%)
  display: inline-block
  position: relative
  font-size: 20px
  color: white
  position: relative
  overflow: hidden
  padding: 0px

.serv-img
  height: 200px
  width: auto
  margin: 10px
  border: thick solid white
  opacity: .8
  transition: .8s

.serv-img:hover
  height: 220px
  opacity: 1

#serv-fifth
  width: 100%
  min-height: 80vh
  background-color: lighten($secondary, 65%)
  display: inline-block
  position: relative
  font-size: 20px
  color: $secondary
  position: relative
  overflow: hidden
  padding: 0px

#serv-fifth .serv-img
  height: 12vw
  width: 12vw
  // background-size: contain
  // overflow: hidden
  margin: 10px
  border: thick solid white

#serv-fifth .serv-img:hover
  height: 14vw
  width: 14vw

.serv-4-pic
  width: 100%
  // background-color: green
  display: inline-block
  position: relative
