// $primary: #08419f
$primary: #8B4513
$secondary: darken(desaturate($primary, 50%),12%)

body
  margin: 0
  font-family: sans-serif

div
  margin: 0
  margin: 0

h1
  font-size: 70px
  margin: 0

h2
  font-size: 30px
  margin: 0

section
  margin: 0
  overflow: hidden

#first
  width: 100%
  height: 80vh
  background-position: center
  background-repeat: no-repeat
  background-size: cover
  background-attachment:local
  color: white
  vertical-align: middle
  text-align: center
  display: inline-block
  position: relative
  overflow: hidden
  text-shadow: 2px 2px 12px $primary

.center
  width: 80%
  display: inline-block
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%,-50%)
  text-align: center

.white
  color: white

.section-header
  position: relative
  padding: 50px

#second
  width: 100%
  height: 80vh
  color: $primary
  font-size: 20px

.half
  width: 50%
  height: 100%
  float: left
  position: relative
  overflow: hidden

.left-half
  background: url(".././images/mosaic-1.png") fixed
  background-color: lighten($secondary, 20%)
  background-size: 50%
  background-attachment: local
  background-position: right
  background-repeat: repeat-y
  background-size: cover

#third
  width: 100%
  height: 80vh
  background: url(".././images/carpet-2.jpeg") fixed
  background-position: center
  background-repeat: no-repeat
  background-size: cover
  color: white
  z-index: 0

.left-third
  width: calc(100%/3)
  height: 100%
  float: left
  position: relative
  color: darken($primary, 10%)

.color-1
  height: 100%
  width: 100%
  z-index: 1
  background-color: white
  opacity: .6

.middle-third
  width: calc(100%/3)
  height: 100%
  float: left
  position: relative
  z-index: 2

.color-2
  height: 100%
  width: 100%
  z-index: 1
  background-color: desaturate($primary, 50%)
  opacity: .7

.right-third
  width: calc(100%/3)
  height: 100%
  float: left
  position: relative
  color: black

.color-3
  height: 100%
  width: 100%
  z-index: 1
  background-color: lighten($secondary, 50%)
  opacity: .8

#fourth
  width: 100%
  min-height: 30vh
  background-color: lighten($secondary, 55%)
  display: inline-block
  position: relative
  font-size: 28px
  position: relative
  overflow: hidden
  padding: 0px

#fifth
  width: 100%
  height: 80vh
  display: inline-block
  margin: 0px
  position: relative
  color: $secondary

#sixth
  width: 100%
  height: 80vh
  background-color: $secondary
  display: inline-block
  margin: 0px
  position: relative
  color: white

.index-2
  z-index: 2

.sixth-image
  width: 100%
  height: 100%
  background: url(".././images/carpet-3.jpg") fixed
  background-position: center
  background-repeat: no-repeat
  background-size: cover
  opacity: .2

.location
  width: 100%
  height: 100%

.location ul
  list-style: none
  padding: 0
  margin: 0

.horiz-center
  display: inline-block
  position: relative
  float: left

footer
  width: 100%
  // height: 80px
  background-color: $secondary
  margin: 0
  padding: 1px
  text-align: center
  color: white


.light-button
  min-width: 10px
  margin: 0 auto
  padding: 5px
  background-color: transparent
  border: normal solid white
  /*border-color: white*/
  color: white
  font-size: 30px
  border-radius: 7px
  transition: .5s

.light-button:hover
  background-color: white
  color: darken($primary, 15%)

.slide
  transform: translateX(150%)
  font-family: serif
  transition: 2s

.fade
  opacity: 0
  transition: 2.5s

.fade2
  // border: purple thick solid
  top: 100px

nav
  position: fixed
  z-index: 5
  background-color: transparent
  width: 100%
  trasition: 1s

.nav-left
  float: left
  height: 40px
  position: relative
  // width: 200px

.logo
  position: absolute
  top: 50%
  transform: translateY(-50%)
  padding: 0 20px
  font-size: 32px
  font-family: Times
  text-decoration: none
  color: lighten($secondary, 50%)

.nav-bar
  width: 100%
  position: relative

.nav-bar ul
  width: 70%
  list-style: none
  text-align: center
  padding: 0
  margin: 0
  transition: 1s
  float: right

.nav-bar li
  width: 20%
  border-bottom: none
  height: 50px
  line-height: 50px
  font-size: 1.4em
  display: inline-block
  margin-right: -4px
  padding: 0px

.nav-bar a
  text-decoration: none
  color: #fff
  display: block
  transition: .7s background-color

.nav-bar a:hover
  background-color: $primary

.nav-bar a.active
  background-color: #fff
  color: $secondary
  cursor: default

.hamburger
  height: 20px
  widows: auto
  display: none
  padding: 10px
  float: right

  .hamburger:hover ~ .nav-bar
    display: inline
    background-color: $secondary

  .nav-bar:hover
    display: inline
    background-color: $secondary
    transition: .5s

  .map-container
    margin: 0px
    padding: 0px
    width: 100%
    height: 100%
    background-color: green
    float: left


@media (max-width: 600px)
  .nav-bar
    display: none
    transition: .5s
    // background-color: $secondary

  .nav-bar ul
    width: 100%

  .nav-bar li
    font-size: 1.2em
    line-height: 40px
    height: 40px
    width: 100%
    border-bottom: 1px solid #888

  .hamburger
    display: inline-block

  .left-third
    width: 100%
    // height: 100%

  .middle-third
    width: 100%

  .right-third
    width: 100%

  .half
    width: 100%
    height: 40vh

  #third
    height: 120vh

  .left-third, .middle-third, .right-third
    height: 40vh

  #fifth
    height: 120vh

  .map-container
    height: 100vw

  .hamburger:hover ~ .nav-bar
    display: inline
    background-color: $secondary

  .nav-bar:hover
    display: inline
    transition: .5s
