// $primary: #08419f
$primary: #8B4513
$secondary: green

body
  margin: 0
  font-family: sans-serif

div
  margin: 0
  margin: 0

h1
  font-size: 70px
  margin: 0

h2
  font-size: 30px
  color: #fff
  margin: 0

#first
  width: 100%
  height: 80vh
  background-position: center
  background-repeat: no-repeat
  background-size: cover
  background-attachment:local
  color: white
  vertical-align: middle
  text-align: center
  display: inline-block
  position: relative
  overflow: hidden

.center
  width: 80%
  display: inline-block
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%,-50%)
  text-align: center

.section-header
  position: relative
  padding: 50px

#second
  width: 100%
  height: 80vh
  background-color: white
  color: black
  font-size: 20px

.half
  width: 50%
  height: 100%
  float: left
  position: relative
  color: $primary

.left-half
  background-color: $primary
  background-size: 50%
  background-attachment: local
  overflow: hidden
  color: white

#third
  width: 100%
  height: 80vh
  background: url(".././images/plant33.jpg")
  background-position: center
  background-repeat: no-repeat
  background-size: cover
  background-attachment:fixed
  color: white

.left-third
  width: calc(100%/3)
  height: 100%
  float: left
  position: relative
  color: darken($primary, 10%)

.middle-third
  width: calc(100%/3)
  height: 100%
  background-color: desaturate($primary, 50%)
  float: left
  position: relative

.right-third
  width: calc(100%/3)
  height: 100%
  background-color: #3b81f6
  float: left
  position: relative
  color: black

#fourth
  width: 100%
  min-height: 30vh
  background-color: lightgrey
  display: inline-block
  position: relative
  font-size: 28px
  position: relative
  overflow: hidden
  padding: 10px

#fifth
  width: 100%
  height: 80vh
  background: url(".././images/bluebkgrnd11.jpg")
  background-position: center
  background-repeat: no-repeat
  background-size: cover
  background-attachment:fixed
  display: inline-block
  margin: 0px
  position: relative
  color: white
  // font-size: 25px

#sixth
  width: 100%
  height: 80vh
  background: url(".././images/bluebkgrnd11.jpg")
  background-position: center
  background-repeat: no-repeat
  background-size: cover
  background-attachment:fixed
  display: inline-block
  margin: 0px
  position: relative
  color: white
  // font-size: 25px

.light-button
  min-width: 10px
  margin: 0 auto
  padding: 5px
  background-color: transparent
  border: normal solid white
  /*border-color: white*/
  color: white
  font-size: 30px
  border-radius: 7px
  transition: .5s

.light-button:hover
  background-color: white
  color: #1d3547

.slide
  transform: translateX(150%)
  font-family: serif
  transition: 2s

.fade
  /*display: none*/
  opacity: 0
  transition: 2.5s

nav
  position: fixed
  z-index: 1
  background-color: transparent
  width: 100%
  trasition: 1s

.nav-left
  float: left
  height: 40px
  position: relative
  // width: 200px

.logo
  position: absolute
  top: 50%
  transform: translateY(-50%)
  padding: 0 20px
  font-size: 39px
  font-family: Times
  text-decoration: none
  color: lighten($primary, 50%)



.nav-bar ul
  list-style: none
  text-align: center
  padding: 0
  margin: 0
  transition: 1s
  // float: left

.nav-bar li
  font-size: 1.2em
  line-height: 40px
  height: 40px
  border-bottom: 1px solid #888

.nav-bar a
  text-decoration: none
  color: #fff
  display: block
  transition: .7s background-color

.nav-bar a:hover
  background-color: #115599

.nav-bar a.active
  background-color: #fff
  color: #444
  cursor: default

.hamburger
  height: 20px
  widows: auto
  display: none
  padding: 10px
  float: right

  .hamburger:hover ~ .nav-bar
    display: inline
    background-color: #444

  .nav-bar:hover
    display: inline
    background-color: #444
    transition: .5s

  .map-container
    margin: 0px
    padding: 10px
    width: 100%
    background-color: green

  .map


@media (min-width: 600px)

  .nav-bar li
    width: 120px
    border-bottom: none
    height: 50px
    line-height: 50px
    font-size: 1.4em
    display: inline-block
    margin-right: -4px
    // background-color: #444

@media (max-width: 600px)
  .nav-bar
    display: none
    transition: .5s
    // background-color: #444

  .hamburger
    display: inline-block

  .left-third
    width: 100%
    // height: 100%

  .middle-third
    width: 100%

  .right-third
    width: 100%

  .half
    width: 100%

  .hamburger:hover ~ .nav-bar
    display: inline
    background-color: #444

  .nav-bar:hover
    display: inline
    transition: .5s
